/*------------------注册页面样式-----------------*/
.divregform{
	max-width: 500px;
	margin: 0 auto;
}
/*---------------------注册页面样式-------------------*/


/*--------------------菜单管理相关样式---------------------------*/
.form-menu-add{
	width: 500px;
	height: 300px;
	margin: 25px auto;
}


/*--------------------菜单管理相关样式---------------------------*/